/* Estilos generales */
body {
    margin: 0; /* Elimina los márgenes predeterminados */
    font-family: 'Raleway'; /* Define la fuente principal */
    font-size: 18px; /* Establece el tamaño de fuente predeterminado */
    line-height: 1.3em; /* Establece la altura de línea */
    padding: 0; /* Elimina el relleno predeterminado */
}

/* Estilos de la bandera */
.flag {
    padding: 1em; /* Añade relleno alrededor del elemento */
    position: fixed; /* Establece la posición fija */
    right: 25px; /* Ubica el elemento a 25px desde el lado derecho */
}

/* Estilos del fondo */
.background {
    background-image: url('./images/bg.jpg'); /* Establece la imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    min-height: 100vh; /* Establece la altura mínima del fondo como el 100% de la altura de la ventana */
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

/* Estilos del contenedor principal */
.container {
    max-width: 800px; /* Establece el ancho máximo del contenedor */
    width: 90%; /* Establece el ancho del contenedor al 90% del contenedor principal */
    text-align: center; /* Centra el contenido del contenedor */
    background-color: rgba(255, 255, 255, 0.8); /* Establece el color de fondo con transparencia */
    padding: 40px; /* Añade relleno alrededor del contenido */
    border-radius: 20px; /* Agrega esquinas redondeadas al contenedor */
    min-height: 500px; /* Establece la altura mínima del contenedor */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Establece la dirección de los elementos hijos */
    justify-content: space-between; /* Distribuye los elementos de manera uniforme en el eje principal */
}

/* Estilos del encabezado */
header {
    background-color: #333; /* Establece el color de fondo del encabezado */
    color: #fff; /* Establece el color del texto */
    padding: 20px 0; /* Añade relleno alrededor del encabezado */
    border-radius: 10px; /* Agrega esquinas redondeadas al encabezado */
}

/* Estilos del título del encabezado */
header h1 {
    margin: 0; /* Elimina los márgenes superiores e inferiores del título */
    font-size: 36px; /* Establece el tamaño de fuente del título */
}

/* Estilos de la introducción */
.introduccion {
    padding: 20px; /* Añade relleno alrededor del elemento */
}

/* Estilos de los botones */
.botones {
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 20px; /* Añade relleno alrededor del elemento */
}

/* Estilos de los botones individuales */
.botones button {
    position: relative; /* Establece la posición relativa */
    width: 200px; /* Establece el ancho del botón */
    height: 150px; /* Establece la altura del botón */
    background-color: rgb(197, 127, 62); /* Establece el color de fondo del botón */
    border: none; /* Elimina el borde del botón */
    color: white; /* Establece el color del texto */
    padding: 20px 0; /* Añade relleno alrededor del texto */
    text-align: center; /* Centra el texto dentro del botón */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Establece la dirección de los elementos hijos */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    margin: 20px 10px; /* Establece los márgenes exteriores del botón */
    font-size: 20px; /* Establece el tamaño de fuente del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 8px; /* Agrega esquinas redondeadas al botón */
    transition: transform 0.3s ease; /* Agrega una transición suave al cambio de tamaño */
}

/* Estilos de las imágenes dentro de los botones */
.botones button img {
    width: 75px; /* Establece el ancho de la imagen */
    height: 75px; /* Establece la altura de la imagen */
    margin-bottom: 10px; /* Añade un margen inferior a la imagen */
}

/* Estilos de los botones al pasar el cursor */
.botones button:hover {
    transform: scale(1.05); /* Escala el botón al 105% de su tamaño original */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1); /* Agrega una sombra al botón */
}

/* Estilos del pie de página */
footer {
    background-color: #333; /* Establece el color de fondo del pie de página */
    padding: 10px; /* Añade relleno alrededor del pie de página */
    border-radius: 10px; /* Agrega esquinas redondeadas al pie de página */
}

/* Estilos de la imagen en el pie de página */
.footer img {
    margin-right: 100px; /* Establece un margen derecho para la imagen */
}
