<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/exampleTwo.css" />
    <title>MAX-HEIGHT</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaUno.html" class="menu-info--option">Día - 1</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>MAX-HEIGHT</h2>
        <div class="examples">
          <p class="paragraph">
            La propiedad <span class="example-color">max-height</span> define el
            alto máximo de un elemento.
          </p>
          <p class="paragraph">
            <span class="example-color">Opción izquierda:</span>Como podemos
            observar al darle un max-height: 10px; la caja solo ocupa 10px lo
            cual hace que no quepa el texto en la caja en la posicion
            <span class="example-color">"Y"</span>.
          </p>
          <p class="paragraph">
            <span class="example-color">Opción derecha:</span>Como podemos
            observar al darle un max-height: 20px; la caja solo ocupa 20px lo
            cual hace que quepa el texto en la caja, pero en el espacio
            disponible. Ya que solamente es en la posicion
            <span class="example-color">"Y"</span>.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
              <span>max-height: 10px;</span>
            </div>
            <div class="example-data-two">
              <span>max-height: 20px;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
