<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/exampleSix.css" />
    <title>OBJECT-POSITION</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaUno.html" class="menu-info--option">Día - 1</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>OBJECT-POSITION</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">object-position: 100px 10%;</span>Cambia
            el tamaño de la imagen para que se ajuste a su cuadro de contenido y
            coloque la imagen a 100 píxeles desde la izquierda y al 10 % desde la
            parte superior dentro del cuadro de contenido:
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
              <img
              class="img"
                src="../../assets/graffiti.jpeg"
                alt="graffiti"
                width="1024"
                height="400"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
