<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/exampleFive.css" />
    <title>OBJECT-FIT</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaUno.html" class="menu-info--option">Día - 1</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>OBJECT-FIT</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">object-fit: cover;</span> La imagen
            mantiene su relación de aspecto y llena la dimensión dada. La imagen
            se recortará para ajustarse.
          </p>
          <p class="paragraph">
            <span class="example-color">object-fit: contain;</span>La imagen
            mantiene su relación de aspecto, pero se cambia de tamaño para
            ajustarse a la dimensión dada.
          </p>
          <p class="paragraph">
            <span class="example-color">object-fit: fill;</span>Esto es lo
            predeterminado. La imagen cambia de tamaño para llenar la dimensión
            dada. Si es necesario, la imagen se estirará o aplastará para que
            quepa.
          </p>
          <p class="paragraph">
            <span class="example-color">object-fit: none;</span>La imagen no
            cambia de tamaño.
          </p>
          <p class="paragraph">
            <span class="example-color">object-fit: scale-down;</span>La imagen
            se reduce a la versión más pequeña de none contain.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
              <img src="../../assets/object.png" alt="graffiti" width="1024" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
