<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/extraTwo.css" />
    <title>BOX-SIZING</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaTres.html" class="menu-info--option">Día - 3</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>BOX-SIZING</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">box-sizing: content-box;</span>El ancho y el alto solo se aplican al contenido del elemento.
          </p>
          <p class="paragraph">
            <span class="example-color">box-sizing: border-box;</span>El ancho y el alto se aplican a todas las partes del elemento: contenido, relleno y bordes.
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
                <span>texto - 1</span>
            </div>
            <div class="example-data-two">
                <span>texto - 2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
