<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/extraOne.css" />
    <title>BOX-SHADOW</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaTres.html" class="menu-info--option">Día - 3</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>BOX-SHADOW</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">box-shadow: 10px 10px 10px 10px;</span>Le ponemos sombreado en todas partes, izquierda, derecha, arriba y abajo.
          </p>
          <p class="paragraph">
            <span class="example-color">box-shadow: 5px 10px blue;</span>Le ponemos un sombreado solo en la izquierda y abajo de color azul.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
                <span>texto - 1</span>
            </div>
            <div class="example-data-two">
                <span>texto - 2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
