<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/extraEight.css" />
    <title>BORDER-BOTTOM-WIDTH</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaTres.html" class="menu-info--option">Día - 3</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>BORDER-BOTTOM-WIDTH</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color"> border-bottom-width: thin;</span>Tamaño de borde de abajo.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
                <span>texto - 1 de prueba</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
