<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/exampleOne.css" />
    <title>OUTLINE-WIDTH</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaTres.html" class="menu-info--option">Día - 3</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>OUTLINE-WIDTH</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">outline-width: thick;</span>Un contorno
            es una línea que se dibuja alrededor de los elementos.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
              <span>Texto ejemplo 1</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
