<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/exampleTwo.css" />
    <title>OVERFLOW-Y</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaTres.html" class="menu-info--option">Día - 3</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>OVERFLOW-Y</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">overflow-y: scroll;</span>Para mostrar el scroll en <span class="example-color">"Y"</span>.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, ad eaque. Quam sit dolorum atque a perferendis magnam voluptas consectetur ad quis labore obcaecati neque modi animi error, dolore ducimus.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
