<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/exampleFive.css" />
    <title>PADDING-LEFT</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaTres.html" class="menu-info--option">Día - 3</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>PADDING-LEFT</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">padding-left: 50px;</span>Nos da un espaciado de 50px en la parte de la izquierda, es decir en el left.
          </p>
          <p class="paragraph">
            <span class="example-color">padding-left: 20x;</span>Nos da un espaciado de 20px en la parte de la izquierda, es decir en el left.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
                <span>texto - 1</span>
            </div>
            <div class="example-data-two">
                <span>texto - 2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
