<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/extraTextTransform.css" />
    <title>TEXT-TRANSFORM</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaCuatro.html" class="menu-info--option">Día - 4</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>TEXT-TRANSFORM</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">text-transform: capitalize;</span>Escribir una palabra con su primera letra en mayúscula y las letras restantes en minúscula.
          </p>
          <p class="paragraph">
            <span class="example-color">text-transform: uppercase;</span>Transforma lo escrito al completo a mayúsculas.
          </p>
          <p class="paragraph">
            <span class="example-color">text-transform: lowercase;</span>Transforma lo escrito al completo a minúsculas.
          </p>
          <p class="paragraph">
            <span class="example-color">text-transform: none;</span>Permanece tal cual se escribió.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
                <span>texto - 1</span>
            </div>
            <div class="example-data-two">
                <span>texto - 2</span>
            </div>
            <div class="example-data-three">
              <span>texto - 3</span>
          </div>
          <div class="example-data-four">
            <span>Texto - 4</span>
        </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
