<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/extraFontKerning.css" />
    <title>FONT-KERNING</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaCuatro.html" class="menu-info--option">Día - 4</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>FONT-KERNING</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color"> font-kerning: normal;</span>Establece el uso de la información de kerning almacenada en una fuente.
          </p>
          <p class="paragraph">
            <span class="example-color"> font-kerning: none;</span>
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
                <span>texto - 1 de prueba</span>
            </div>
            <div class="example-data-Two">
              <span>texto - 2 de prueba</span>
          </div>
          </div>
        </div>
        <p><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-kerning">Ejemplo más visual de MDN web docs</a></p>
      </div>
    </div>
  </body>
</html>
