<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/extraFontVariant.css" />
    <title>FONT-VARIANT</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaCuatro.html" class="menu-info--option">Día - 4</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>FONT-VARIANT</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">font-variant: normal;</span>Le permite
            configurar todas las variantes de fuente para una fuente.
          </p>
          <p class="paragraph">
            <span class="example-color"
              >font-variant: no-common-ligatures;</span
            >
          </p>
          <p class="paragraph">
            <span class="example-color">font-variant: common-ligatures;</span>
          </p>
          <p class="paragraph">
            <span class="example-color">font-variant: small-caps;</span
            >Versalitas.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
              <span>texto 1 - Normal</span>
            </div>
            <div class="example-data-two">
              <span>texto 2 - No common ligatures</span>
            </div>
            <div class="example-data-three">
              <span>texto 3 - Common ligatures</span>
            </div>
            <div class="example-data-four">
              <span>texto 4 - Small caps</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
