<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/examplePageBreakAfter.css" />
    <title>PAGE-BREAK-AFTER</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaCuatro.html" class="menu-info--option">Día - 4</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>PAGE-BREAK-AFTER</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">page-break-after;</span>Ajusta los saltos de página DESPUÉS del elemento actual. Esta propiedad se aplica a elementos de bloque que generan un cuadro. No se aplicará en un vacío "div" que no generará un cuadro.</span>
            <br>
            <span class="example-color">Actualmente ha sido sustituido por <u>BREAK-AFTER</u></span>
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
              <main>
                <article>
                  <div>
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Aliquid a corporis nostrum velit repudiandae fuga commodi aut delectus numquam. Debitis quod repellendus reprehenderit obcaecati asperiores</p>
                  </div>
                </article>
              
                <article>
                  <h2>Heading</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Aliquid a corporis nostrum velit repudiandae fuga commodi aut delectus numquam. Debitis quod repellendus reprehenderit obcaecati asperiores</p>
                </article>
              
                <article>
                  <h2>Heading</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Aliquid a corporis nostrum velit repudiandae fuga commodi aut delectus numquam. Debitis quod repellendus reprehenderit obcaecati asperiores</p>
                </article>
              </main>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
