<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/examplePerspective.css" />
    <title>PERSPECTIVE</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaCuatro.html" class="menu-info--option">Día - 4</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>PERSPECTIVE</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">Perspective: 800px;</span>Determina la distancia entre el plano z=0 y el usuario para darle cierta perspectiva a un elemento posicionado en 3D.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="contenedor">
              <div class="caja">
                <p>¡Efecto 3D!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
