<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/examplePosition.css" />
    <title>POSITION</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaCinco.html" class="menu-info--option">Día - 5</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>POSITION</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">Position; </span>La propiedad position en HTML se utiliza en CSS para controlar la posición y el comportamiento de los elementos en una página web. <br>
            <span class="example-color">position-static. </span>Posición predeterminada, sigue el flujo normal. <br>
            <span class="example-color">position-absolute. </span>Se posiciona en relación a su ancestro posicionado o al documento principal. <br>
            <span class="example-color">position-relative. </span>Se posiciona en relación a su posición original y se puede mover con "top", "right", "bottom" y "left". <br>
            <span class="example-color">position-sticky. </span>Se comporta como "relative" hasta una posición, luego se vuelve "fixed" al hacer scroll. Ideal para encabezados o menús que siguen al usuario. <br>

          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <img src="../../assets/position1.jpg" alt="Ejemplo 1" class="example-image">
            <img src="../../assets/position2.jpg" alt="Ejemplo 2" class="example-image">
            <img src="../../assets/position4.jpg" alt="Ejemplo 3" class="example-image">
            <img src="../../assets/position3.jpg" alt="Ejemplo 4" class="example-image">
        </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
