<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/exampleQuotes.css" />
    <title>QUOTES</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaCinco.html" class="menu-info--option">Día - 5</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>QUOTES</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">quotes;</span></span>Se utiliza para establecer de forma explícita las comillas que debe utilizar el navegador y por tanto, neutraliza las posibles diferencias entre navegadores. Las comillas siempre se indican por pares, siendo la primera la comilla de apertura y la segunda la comilla de cierre.</span>
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
              <main>
                <q>Este es un ejemplo de bloque de cotización en HTML.</q>
                <p><span class="otherQuotes">Otro ejemplo de cotización.</span></p>
                <p><span class="otherQuotes2">Otro ejemplo con otro tipo de cotización.</span></p>
            
              </main>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
