<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/exampleResize.css" />
    <title>RESIZE</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaCinco.html" class="menu-info--option">Día - 5</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>RESIZE</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">resize: both;</span> Establece si se puede cambiar el tamaño de un elemento y, de ser así, en qué direcciones.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
                <span>Este párrafo se puede cambiar de tamaño en todas las direcciones, porque el CSS "resize"
                  La propiedad está establecida en "ambos" en este elemento.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
