<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/exampleTabSize.css" />
    <title>TAB-SIZE</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaCinco.html" class="menu-info--option">Día - 5</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>TAB-SIZE</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">tab-size;</span>Se utiliza para personalizar el ancho de los caracteres de tabulación.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <span>Sin tabulación
            <div class="example-data">
              <p>&#0009;Tamaño de tab predeterminado de 8 caracteres de ancho</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
