header {
    padding: 60px; /* Añade relleno */
    text-align: center; /* Alineación del texto */
    background-color: #313030ce; /* Color de fondo con transparencia */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
    background-position: fixed; /* Fija la posición de la imagen de fondo */
    color: white; /* Color del texto */
    width: 100%; /* Hace que el encabezado ocupe todo el ancho */
    left: 0; /* Posiciona el encabezado a la izquierda */
    top: 0; /* Posiciona el encabezado arriba */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    margin-top: 0; /* Elimina el margen superior */
    position: fixed; /* Posición fija */
}

/* Estilos para el botón de inicio */
.home {
    padding: 1em; /* Añade relleno */
    position: fixed; /* Posición fija */
    top: 10px; /* Alinea arriba */
    left: 25px; /* Alinea a la izquierda */
    z-index: 1100; /* Asegura que esté encima del encabezado */
}

.flag {
    padding: 1em; /* Añade relleno */
    position: fixed; /* Posición fija */
    top: 10px; /* Alinea arriba */
    right: 25px; /* Alinea a la derecha */
    z-index: 1100; /* Asegura que esté encima del encabezado */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    margin: 0; /* Elimina el margen predeterminado */
    font-family: 'Raleway';
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url(./img/bg.jpg);
}

.gallery {
    display: flex;
    gap: 1rem;
    max-width: 80rem;
}

.card {
    position: relative;
    left: 0;
    width: 10rem;
    border-radius: 1.2rem;
    height: 20rem;
    overflow: hidden;
    background-color: var(--background);
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    flex: 0.25;
}

.card img {
    position: relative;
    height: 30rem;
    width: 40rem;
    object-fit: cover;   
}

.card:hover {
    flex: 2;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
}

.card:nth-child(1) img {
    left: -8rem;
}

.card:nth-child(2) img {
    left: -6rem;
}

.card:nth-child(3) img {
    left: -10rem;
}

.card:nth-child(4) img {
    left: -8rem;
}

.overlay {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo del overlay */
    color: white;
    padding: 10px;
    transform: translateY(100%); /* Mueve el overlay fuera del contenedor */
    transition: transform 0.3s ease; /* Agrega transición al pasar el cursor */
}

.card:hover .overlay {
    transform: translateY(0); /* Muestra el overlay al pasar el cursor */
}

footer {
    text-align: center;
    background-color: #333; /* Establece el color de fondo del pie de página */
    padding: 10px; /* Añade relleno alrededor del pie de página */
    position: fixed; /* Posicionamiento fijo */
    bottom: 0; /* Alinea el borde inferior con el borde inferior de la ventana del navegador */
    width: 100%; /* Hace que el pie de página ocupe todo el ancho */
}

/* Estilos de la imagen en el pie de página */
.footer img {
    margin-right: 100px; /* Establece un margen derecho para la imagen */
}
