.examples{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.example-color{
    font-weight: bold;
    color:crimson;
}

.example-code{
    width: 80%;
    height: 50vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    white-space: pre;
}

.example-data {
    text-align: left;
    tab-size: 5;
}

.paragraph {
    padding-left: 150px;
    padding-right: 150px;
}