<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/exampleOne.css" />
    <title>OPACITY</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaDos.html" class="menu-info--option">Día - 2</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>OPACITY</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">opacity: 0.5;</span>En la izquierda podemos observar que cuanta menos opacidad
            mas se verá. En este caso es la mitad de 1 ya que 1 es lo máximo.
          </p>
          <p class="paragraph">
            <span class="example-color">opacity: 0.25;</span>En la derecha podemos observar que cuanto mas sea la
            opacidad apenas se llegará a ver o leer dicho texto.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
              <span>Texto ejemplo 1</span>
            </div>

            <div class="example-data-two">
              <span>Texto ejemplo 2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
