<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./css/exampleTwo.css" />
    <title>OUTLINE-COLOR</title>
  </head>
  <body>
    <div class="container">
      <div class="container-menu">
        <ul class="menu">
          <li class="menu-info">
            <a href="../diaDos.html" class="menu-info--option">Día - 2</a>
          </li>
        </ul>
      </div>
      <div class="container-info">
        <h2>OUTLINE-COLOR</h2>
        <div class="examples">
          <p class="paragraph">
            <span class="example-color">outline-color: red;</span>En la izquierda podemos observar que el outline es rojo.
          </p>
          <p class="paragraph">
            <span class="example-color">outline-color: blue;</span>En la derecha podemos observar que el outline es azul.
          </p>
          <p class="paragraph">Aquí dejamos un ejemplo</p>
          <div class="example-code">
            <div class="example-data">
              <span>Texto ejemplo 1</span>
            </div>

            <div class="example-data-two">
              <span>Texto ejemplo 2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
