<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Día-4</title>
  </head>
  <body>
    <body>
      <div class="container">
        <div class="container-menu">
          <ul class="menu">
            <li class="menu-info">
              <a href="../index.html" class="menu-info--option">Menú</a>
            </li>
            <li class="menu-info">
              <a href="./dia_cuatro/padding-right.html" class="menu-info--option"
                >- padding-right -</a
              >
            </li>
            <li class="menu-info">
              <a href="./dia_cuatro/padding-top.html" class="menu-info--option"
                >- padding-top -</a
              >
            </li>
            <li class="menu-info">
              <a href="./dia_cuatro/page-break-after.html" class="menu-info--option"
                >- page-break-after -</a
              >
            </li>
            <li class="menu-info">
              <a href="./dia_cuatro/page-break-before.html" class="menu-info--option"
                >- page-break-before -</a
              >
            </li>
            <li class="menu-info">
              <a href="./dia_cuatro/page-break-inside.html" class="menu-info--option"
                >- page-break-inside -</a
              >
            </li>
            <li class="menu-info">
              <a href="./dia_cuatro/perspective.html" class="menu-info--option"
                >- perspective -</a
              >
            </li>
            <li class="menu-info--option">---- EXTRAS ----</li>
            <li class="menu-info">
              <a
                href="./dia_cuatro/extra_text-shadow.html"
                class="menu-info--option"
                >- text-shadow -</a
              >
            </li>
            <li class="menu-info">
              <a
                href="./dia_cuatro/extra_font-variant.html"
                class="menu-info--option"
                >- font-variant -</a
              >
            </li>
            <li class="menu-info">
              <a
                href="./dia_cuatro/extra_text-transform.html"
                class="menu-info--option"
                >- text-transform -</a
              >
            </li>
            <li class="menu-info">
              <a
                href="./dia_cuatro/extra_font-kerning.html"
                class="menu-info--option"
                >- font-kerning -</a
              >
            </li>
            <li class="menu-info">
              <a
                href="./dia_cuatro/extra_font-weight.html"
                class="menu-info--option"
                >- font-weight -</a
              >
            </li>
            <li class="menu-info">
              <a
                href="./dia_cuatro/extra_float.html"
                class="menu-info--option"
                >- float -</a
              >
            </li>
            <li class="menu-info">
              <a
                href="./dia_cuatro/extra_border-bottom-color.html"
                class="menu-info--option"
                >- border-bottom-color -</a
              >
            </li>
            <li class="menu-info">
              <a
                href="./dia_cuatro/extra_border-bottom-style.html"
                class="menu-info--option"
                >- border-bottom-style -</a
              >
            </li>
          </ul>
        </div>
        <div class="container-info">
          <h3>DIA-4</h3>
          <h2>Propiedades CSS</h2>
          <div class="container-info--data">
            <div class="details">
              <span class="details-title">Lo que aprendimos el día 4</span>
              <div class="details-info">
                <span>- padding-right -</span>
                <span>- padding-top -</span>
                <span>- page-break-after -</span>
                <span>- page-break-before -</span>
                <span>- page-break-inside -</span>
                <span>- perspective -</span>
                <div class="details-info-extra">
                  <span class="details-info-extra--title">EXTRA</span>
                  <div class="details-extra">
                    <span>- text-shadow -</span>
                    <span>- font-variant -</span>
                    <span>- text-transform -</span>
                    <span>- font-kerning -</span>
                    <span>- font-weight -</span>
                    <span>- float -</span>
                    <span>- border-bottom-color -</span>
                    <span>- border-bottom-style -</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </body>
</html>
