<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Día-4</title>
  </head>
  <body>
    <body>
      <div class="container">
        <div class="container-menu">
          <ul class="menu">
            <li class="menu-info">
              <a href="../index.html" class="menu-info--option">Menú</a>
            </li>
            <li class="menu-info">
              <a href="./dia_cinco/perspective.html" class="menu-info--option"
                >- perspective -</a
              >
            </li>
            <li class="menu-info">
              <a href="./dia_cinco/perspective-origin.html" class="menu-info--option"
                >- perspective-origin -</a
              >
            </li>
            <li class="menu-info">
              <a href="./dia_cinco/position.html" class="menu-info--option"
                >- position -</a
              >
            </li>
            <li class="menu-info">
              <a href="./dia_cinco/quotes.html" class="menu-info--option"
                >- quotes -</a
              >
            </li>
            <li class="menu-info">
              <a href="./dia_cinco/resize.html" class="menu-info--option"
                >- resize -</a
              >
            </li>
            <li class="menu-info">
              <a href="./dia_cinco/right.html" class="menu-info--option"
                >- right -</a
              >
            </li>
            <li class="menu-info">
              <a href="./dia_cinco/tab-size.html" class="menu-info--option"
                >- tab-size -</a
              >
            </li>
            <li class="menu-info">
              <a href="./dia_cinco/table-layout.html" class="menu-info--option"
                >- table-layout -</a
              >
            </li>
          </ul>
        </div>
        <div class="container-info">
          <h3>DIA-5</h3>
          <h2>Propiedades CSS</h2>
          <div class="container-info--data">
            <div class="details">
              <span class="details-title">Aprendizaje del día 5</span>
              <div class="details-info">
                  <span>- perspective -</span>
                  <span>- perspective-origin -</span>
                  <span>- position -</span>
                  <span>- quotes -</span>
                  <span>- resize -</span>
                  <span>- right -</span>
                  <span>- tab-size -</span>
                  <span>- table-layout -</span>
              </div>
          </div>
          </div>
        </div>
      </div>
    </body>
  </body>
</html>
