<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Día - 2</title>
  </head>
  <body>
    <body>
      <div class="container">
        <div class="container-menu">
          <ul class="menu">
            <li class="menu-info">
              <a href="../index.html" class="menu-info--option">Menú</a>
            </li>
            <li class="menu-info">
                <a href="./dia_dos/opacity.html" class="menu-info--option">- opacity -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_dos/outline-color.html" class="menu-info--option">- outline-color -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_dos/outline-offset.html" class="menu-info--option">- outline-offset -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_dos/outline-style.html" class="menu-info--option">- outline-style -</a>
              </li>
              <li class="menu-info--option">
                ---- EXTRAS ----
              </li>
              <li class="menu-info">
                <a href="./dia_dos/extra_flex_direction.html" class="menu-info--option">- flex-direction -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_dos/extra_border_style.html" class="menu-info--option">- border-style -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_dos/extra_background_color.html" class="menu-info--option">- background-color -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_dos/extra_border_width.html" class="menu-info--option">- border-width  -</a>
              </li>
          </ul>
        </div>
        <div class="container-info">
        <h3>DIA-2</h3>
          <h2>Propiedades CSS</h2>
          <div class="container-info--data">
            <div class="details">
              <span class="details-title">Lo que aprendimos el día 2</span>
              <div class="details-info">
                <span>- opacity -</span>
                <span>- outline-color -</span>
                <span>- outline-offset -</span>
                <span>- outline-style -</span>
                <div class="details-info-extra">
                  <span class="details-info-extra--title">EXTRA</span>
                  <div class="details-extra">
                    <span>- flex-direction -</span>
                    <span>- border-style -</span>
                    <span>- background-color -</span>
                    <span>- border-width -</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </body>
</html>
