<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Día-3</title>
  </head>
  <body>
    <body>
      <div class="container">
        <div class="container-menu">
          <ul class="menu">
            <li class="menu-info">
              <a href="../index.html" class="menu-info--option">Menú</a>
            </li>
            <li class="menu-info">
                <a href="./dia_tres/outline_width.html" class="menu-info--option">- outline-width -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_tres/overflow-y.html" class="menu-info--option">- overflow-y -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_tres/overflow-x.html" class="menu-info--option">- overflow-x -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_tres/padding_bottom.html" class="menu-info--option">- padding-bottom -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_tres/padding_left.html" class="menu-info--option">- padding-left -</a>
              </li>
              <li class="menu-info--option">
                ---- EXTRAS ----
              </li>
              <li class="menu-info">
                <a href="./dia_tres/extra_box_shadow.html" class="menu-info--option">- box-shadow -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_tres/extra_box-sizing.html" class="menu-info--option">- box-sizing -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_tres/extra_font_size.html" class="menu-info--option">- font-size -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_tres/extra_font_family.html" class="menu-info--option">- font-family -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_tres/extra_text_orientation.html" class="menu-info--option">- text-orientation -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_tres/extra_writting_mode.html" class="menu-info--option">- writing-mode -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_tres/extra_border_color.html" class="menu-info--option">- border-color -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_tres/extra_border_bottom_width.html" class="menu-info--option">- border-bottom-width -</a>
              </li>
          </ul>
        </div>
        <div class="container-info">
            <h3>DIA-3</h3>
          <h2>Propiedades CSS</h2>
          <div class="container-info--data">
            <div class="details">
              <span class="details-title">Lo que aprendimos el día 3</span>
              <div class="details-info">
                <span>- outline-width -</span>
                <span>- overflow-y -</span>
                <span>- overflow-x -</span>
                <span>- padding-bottom -</span>
                <span>- padding-left -</span>
                <div class="details-info-extra">
                  <span class="details-info-extra--title">EXTRA</span>
                  <div class="details-extra">
                    <span>- box-shadow -</span>
                    <span>- box-sizing -</span>
                    <span>- font-size -</span>
                    <span>- font-family -</span>
                    <span>- text-orientation -</span>
                    <span>- writing-mode -</span>
                    <span>- border-color -</span>
                    <span>- border-bottom-width -</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </body>
</html>
