<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Día - 1</title>
  </head>
  <body>
    <body>
      <div class="container">
        <div class="container-menu">
          <ul class="menu">
            <li class="menu-info">
              <a href="../index.html" class="menu-info--option">Menú</a>
            </li>
            <!-- MENU PROPIEDADES CSS -->
            <li class="menu-info">
                <a href="./dia_uno/max_width.html" class="menu-info--option">- max-width -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_uno/max_height.html" class="menu-info--option">- max-height </a>
              </li>
              <li class="menu-info">
                <a href="./dia_uno/min_width.html" class="menu-info--option">- min-width -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_uno/min_height.html" class="menu-info--option">- min-height -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_uno/object_fit.html" class="menu-info--option">- object-fit -</a>
              </li>
              <li class="menu-info">
                <a href="./dia_uno/object_position.html" class="menu-info--option">- object-position -</a>
              </li>
            <!-- FIN MENU -->
          </ul>
        </div>
        <div class="container-info">
            <h3>DIA-1</h3>
          <h2>Propiedades CSS</h2>
          <div class="container-info--data">
            <div class="details">
              <span class="details-title">Lo que aprendimos el día 1</span>
              <div class="details-info">
                <span>- max-width -</span>
                <span>- max-height -</span>
                <span>- min-width -</span>
                <span>- min-height -</span>
                <span>- object-fit -</span>
                <span>- object-position -</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </body>
</html>
