.examples{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.example-color{
    font-weight: bold;
    color:crimson;
}

.example-code{
    width: 80%;
    height: 50vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.contenedor {
    perspective: 800px; /* Establece la perspectiva para el contenedor */
  }
  
.caja {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    color: #fff;
    transform: rotateY(45deg); /* Aplica una rotación en el eje Y para el efecto 3D */
    transform-origin: 50% 50%; /* Establece el punto de origen de la rotación */
  }
  
.caja:hover {
    transform: rotateY(0deg); /* Al pasar el mouse, vuelve a la posición original */
  }

.paragraph {
    padding-left: 150px;
    padding-right: 150px;
}