.examples{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.example-color{
    font-weight: bold;
    color:crimson;
}

.example-code{
    width: 80%;
    height: 50vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.example-data{
    width: 100px;
    height: 120px;
    font-size: 20px;
    font-variant: normal;
}


.example-data-two{
    width: 108px;
    height: 120px;
    font-size: 20px;
    font-variant: no-common-ligatures proportional-nums;
}
.example-data-three{
    width: 100px;
    height: 120px;
    font-size: 20px;
    font-variant: common-ligatures tabular-nums;
}
.example-data-four{
    width: 100px;
    height: 120px;
    font-size: 20px;
    font-variant: small-caps;
}

.paragraph {
    padding-left: 150px;
    padding-right: 150px;
}